<form class="d-flex flex-column w-100" [formGroup]="loginForm" (submit)="onLogin()">
	<h3 class="mb-4 text-dark text-center">Iniciar sesi&oacute;n</h3>

	<!-------------- Email input Inicio -------------->
	<mat-form-field class="text-dark mb-4">
		<mat-label>
			<mat-icon matPrefix>account_circle</mat-icon>
			Correo Electr&oacute;nico
		</mat-label>
		<input type="email" matInput formControlName="email" placeholder="Ingrese su correo">
		<mat-error *ngIf="isNotValid('email')">
			Este campo es <strong>obligatorio</strong>
		</mat-error>
	</mat-form-field>
	<!-------------- Email input Fin -------------->


	<!-------------- Password input Inicio -------------->
	<mat-form-field class="text-dark">
		<mat-label>
			<mat-icon matPrefix>lock</mat-icon>
			Contraseña
		</mat-label>
		<input matInput formControlName="password" placeholder="********" type="password">

		<mat-error *ngIf="isNotValid('password')">
			Este campo es <strong>obligatorio</strong>
		</mat-error>
	</mat-form-field>
	<!-------------- Password input Fin -------------->

	<button class="mt-4 btn btn-primary" type="submit">Ingresar</button>

	<hr class="mt-4 text-black">
	<div class="d-flex flex-column justify-content-center align-items-center">
		<span class="text-dark mb-2">
			¿Olvido su contraseña?
		</span>

		<a routerLink="/auth/forgot-password" style="font-weight: bold;">
			Recuperar contraseña
		</a>
	</div>
</form>
