<span class="p-2">Estudiantes Inscritos</span>
<mat-divider class="mt-3"></mat-divider>

<div class="mt-4">
	<div class="mb-2 d-flex justify-content-end">
		<button
			type="button"
			class="btn btn-outline-primary"
			(click)="goToNewStudent()"
		>
			Nuevo
		</button>
	</div>
	<h2 class="text-center">Listado de estudiantes</h2>

	<mat-tab-group
		(selectedTabChange)="handleTabChange()"
		mat-align-tabs="start"
	>
		<!-- Estudiantes Activos Inicio -->
		<mat-tab label="Activos">
			<ng-container *ngIf="activeStudents.length > 0">
				<app-dynamic-table
					[data]="activeStudents"
					[headers]="studentHeaders"
					[filter]="true"
					[statuses]="statuses"
					(editRow)="onEditStudent($event)"
					(confirmedChangeStatus)="onChangeStatus($event)"
				>
				</app-dynamic-table>
			</ng-container>
		</mat-tab>
		<!-- Estudiantes Activos Fin -->

		<!-- Estudiantes Inactivos Inicio -->
		<mat-tab label="Inactivos">
			<ng-container *ngIf="inactiveStudents.length > 0">
				<app-dynamic-table
					[data]="inactiveStudents"
					[headers]="studentHeaders"
					[filter]="true"
					[statuses]="statuses"
					(editRow)="onEditStudent($event)"
					(confirmedChangeStatus)="onChangeStatus($event)"
				>
				</app-dynamic-table>
			</ng-container>
		</mat-tab>
		<!-- Estudiantes Inctivos Fin -->

		<!-- Estudiantes Aprobados Inicio -->
		<mat-tab label="Aprobados">
			<ng-container *ngIf="approvedStudents.length > 0">
				<app-dynamic-table
					[data]="approvedStudents"
					[headers]="approvedStudentHeaders"
					[filter]="true"
					[select]="false"
					[edit]="false"
				>
				</app-dynamic-table>
			</ng-container>
		</mat-tab>
		<!-- Estudiantes Aprobados Fin -->

		<!-- Estudiantes asignados a un proyecto Inicio -->
		<mat-tab (click)="onAssignedStudents()" label="Asignados a un proyecto">
			<ng-container *ngIf="assignedStudents.length > 0">
				<app-dynamic-table
					[data]="assignedStudents"
					[headers]="assignedStudentHeaders"
					[filter]="true"
					[select]="false"
					(editRow)="onEditStudent($event)"
				>
				</app-dynamic-table>
			</ng-container>
		</mat-tab>
		<!-- Estudiantes asignados a un proyecto Fin -->

		<!-- Estudiantes no asignados a un proyecto Inicio -->
		<mat-tab label="No asignados a un proyecto">
			<ng-container *ngIf="unassignedStudents.length > 0">
				<app-dynamic-table
					[data]="unassignedStudents"
					[headers]="studentHeaders"
					[filter]="true"
					[select]="false"
					(editRow)="onEditStudent($event)"
				>
				</app-dynamic-table>
			</ng-container>
		</mat-tab>
		<!-- Estudiantes no asignados a un proyecto Fin -->
	</mat-tab-group>
</div>
