<!-------------- Background Section Inicio -------------->
<section class="text-white bg-auth-container vh-100">
	<!-------------- Container Section Inicio -------------->
	<div class="container h-100">
		<!-------------- Content Section Inicio -------------->
		<div class="d-flex justify-content-center align-items-center h-100">
			<!-------------- Card Inicio -------------->
			<div class="card card-container d-flex justify-content-center align-content-center p-5">
				<h1 class=" h3 text-dark text-center">Sistema de Gesti&oacute;n del Servicio Comunitario</h1>
				<hr class="mt-3 text-black">
				<router-outlet></router-outlet>
			</div>
			<!-------------- Card Fin -------------->
		</div>
		<!-------------- Content Section Fin -------------->
	</div>
	<!-------------- Container Section Fin -------------->
</section>
<!-------------- Background Section Fin -------------->
