mat-card-title span:hover {
    cursor: pointer;
    color: #0075be;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

mat-card{
    border-bottom: 2px solid #4db3de;
}


mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

mat-card-actions p {
    padding: 5px;
}

