<span class="p-2">Proyecto inscrito</span>
<mat-divider class="mt-3"></mat-divider>

<div class="mt-3">
	<!-- Aqui van los proyectos -->
	<section
		class="w-100 mb-5 row d-flex align-items-start justify-content-between"
	>
		<!-- Card de datos del proyecto -->
		<div class="col-12 col-md-4">
			<mat-card class="mt-3" style="min-height: 165px">
				<mat-card-title>Datos del proyecto</mat-card-title>
				<mat-divider inset></mat-divider>
				<mat-card-content class="pt-3">
					<p>
						<span style="font-weight: 500">Nombre: </span>
						<ng-container *ngIf="cardInfo?.name; else noProject">{{
							cardInfo.name
						}}</ng-container>

						<ng-template #noProject
							>Sin proyecto inscrito</ng-template
						>
					</p>
					<p>
						<span style="font-weight: 500">Fecha de inicio: </span>
						<ng-container
							*ngIf="cardInfo?.date_start; else notFound"
							>{{ cardInfo.date_start }}</ng-container
						>
					</p>
				</mat-card-content>
			</mat-card>
		</div>

		<!-- Card de datos del coordinador -->
		<div class="col-12 col-md-4">
			<mat-card class="mt-3" style="min-height: 165px">
				<mat-card-title>Datos del Coordinador</mat-card-title>
				<mat-divider inset></mat-divider>
				<mat-card-content class="pt-3">
					<p>
						<span style="font-weight: 500">Nombre: </span>
						<ng-container
							*ngIf="cardInfo?.coordinator; else notFound"
							>{{ cardInfo.coordinator }}</ng-container
						>
					</p>
					<p>
						<span style="font-weight: 500">Cedula: </span>
						<ng-container
							*ngIf="
								cardInfo?.identification_coordinator;
								else notFound
							"
							>{{
								cardInfo.identification_coordinator
							}}</ng-container
						>
					</p>
				</mat-card-content>
			</mat-card>
		</div>

		<!-- Card de horas del servicio -->
		<div class="col-12 col-md-4">
			<mat-card class="mt-3" style="min-height: 165px">
				<mat-card-title>Horas del servicio</mat-card-title>
				<mat-divider inset></mat-divider>
				<mat-card-content class="pt-3">
					<p>
						<span style="font-weight: 500">Acumuladas: </span>
						{{ hours }}
					</p>
					<p>
						<span style="font-weight: 500">Pendiente:</span>
						{{ pendingHours }}
					</p>
					<ng-container *ngIf="cardInfo?.status">
						<span style="font-weight: 500">Estatus: </span>
						{{ cardInfo.status }}
					</ng-container>
				</mat-card-content>
			</mat-card>
		</div>

		<ng-template #notFound>N/A</ng-template>
	</section>

	<!-- Aqui va la tabla de las tareas finalizadas -->
	<ng-container *ngIf="tasksList != null && tasksList.length > 0">
		<h2 class="text-center mb-0">Listado de tareas completadas</h2>
		<app-dynamic-table
			[data]="tasksList"
			[headers]="headersList"
			[filter]="true"
			[edit]="!isStudentGraduated"
			[select]="false"
			(editRow)="editTask($event)"
		>
		</app-dynamic-table>
	</ng-container>
</div>
