<form class="d-flex flex-column w-100" [formGroup]="form">
	<h3 class="mb-3 text-dark font-weight-bold text-center">Cambio de contraseña</h3>

	<!-------------- New Password input Inicio -------------->
	<mat-form-field class="text-dark mb-4">
		<mat-label>
			<mat-icon matPrefix>lock-reset</mat-icon>
			Nueva contraseña
		</mat-label>
		<input matInput formControlName="password" placeholder="********" type="password">

		<mat-error *ngIf="isNotValid('password')">
			Este campo es <strong>obligatorio</strong>
		</mat-error>
	</mat-form-field>
	<!-------------- New Password input Fin -------------->

	<!-------------- Confirm Password input Inicio -------------->
	<mat-form-field class="text-dark mb-4">
		<mat-label>
			<mat-icon matPrefix>sync-lock</mat-icon>
			Confirme su contraseña
		</mat-label>
		<input matInput formControlName="confirm_password" placeholder="********" type="password">

		<mat-error *ngIf="isNotValid('confirm_password')">
			Este campo es <strong>obligatorio</strong>
		</mat-error>
	</mat-form-field>
	<!-------------- Confirm Password input Fin -------------->

	<button class="btn btn-primary" [disabled]="form.invalid" type="button" (click)="onSave()">Guardar</button>
</form>
