<!-------------- Sidebar Container Inicio -------------->
<mat-sidenav-container class="sidenav-container">
	<!-------------- Sidebar Item List Inicio -------------->
	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

		<div class="logo">
			<img class="logo_img" src="./assets/img/logo_facyt.png" alt="Logo Facyt" />
		</div>

		<mat-nav-list>
			<mat-divider></mat-divider>

			<div class="nav-menu">
				<ul>
					<li class="active"><a href="#">
							<mat-icon class="icon-menu">home</mat-icon>Inicio
						</a></li>
					<li><a href="#">
							<mat-icon class="icon-menu"><span class="material-icons">
									<span class="material-icons">
										description
									</span>
								</span></mat-icon>Documentos
						</a></li>
					<li><a href="#">
							<mat-icon class="icon-menu"><span class="material-icons">
									supervisor_account
								</span></mat-icon>Estudiantes inscritos
						</a></li>
					<li><a href="#">
							<mat-icon class="icon-menu"><span class="material-icons">
									folder
								</span></mat-icon>Proyectos activos
						</a></li>
					<li><a href="#">
							<mat-icon class="icon-menu"><span class="material-icons">
									folder_off
								</span></mat-icon>Proyectos inactivos
						</a></li>
					<li><a href="#">
							<mat-icon class="icon-menu">task</mat-icon>Tareas
						</a></li>
					<li><a href="#">
							<mat-icon class="icon-menu">supervised_user_circle</mat-icon>Tutores
						</a></li>
					<li><a href="#">
							<mat-icon class="icon-menu">logout</mat-icon>Cerrar Sesi&oacute;n
						</a></li>

				</ul>
			</div>
		</mat-nav-list>
	</mat-sidenav>
	<!-------------- Sidebar Item List Fin -------------->

	<!-------------- Sidebar Content Inicio -------------->
	<mat-sidenav-content>
		<!-------------- Toolbar Inicio -------------->
		<mat-toolbar>
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span>Servicio Comunitario</span>
		</mat-toolbar>
		<!-------------- Toolbar Fin -------------->
		<!-- Aqui se muestra el contenido correspondiente a cada item del sidebar -->
		<router-outlet></router-outlet>
		<app-dashboard></app-dashboard>
	</mat-sidenav-content>
	<!-------------- Sidebar Content Fin -------------->
</mat-sidenav-container>
<!-------------- Sidebar Container Fin -------------->
