<!-------------- Sidebar Container Inicio -------------->
<mat-sidenav-container class="sidenav-container">
	<!-------------- Sidebar Item List Inicio -------------->
	<mat-sidenav
		#drawer
		class="sidenav"
		fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="(isHandset$ | async) === false"
	>
		<div class="logo">
			<img
				class="logo_img"
				src="./assets/img/logo_facyt.png"
				alt="Logo Facyt"
			/>
		</div>

		<mat-nav-list>
			<mat-divider></mat-divider>

			<ul class="list-group">
				<li
					class="list-group-item  d-flex align-items-center justify-content-start"
					routerLink="/layout/home"
					routerLinkActive="bg-custom-primary"
				>
					<mat-icon class="icon-menu">home</mat-icon>
					<span>Proyecto inscrito</span>
				</li>
				<li
					class="list-group-item d-flex align-items-center justify-content-start"
					routerLink="/layout/documents"
					routerLinkActive="bg-custom-primary"
				>
					<mat-icon class="icon-menu"> description</mat-icon
					><span>Documentos</span>
				</li>
				<li
					class="list-group-item d-flex align-items-center justify-content-start"
					routerLink="/layout/students"
					routerLinkActive="bg-custom-primary"
				>
					<mat-icon class="icon-menu"> supervisor_account</mat-icon>
					<span>Estudiantes inscritos</span>
				</li>
				<li
					class="list-group-item d-flex align-items-center justify-content-start"
					routerLink="/layout/projects/actives"
					routerLinkActive="bg-custom-primary"
				>
					<mat-icon class="icon-menu"> folder </mat-icon>
					<span>Proyectos activos </span>
				</li>

				<li
					class="list-group-item d-flex align-items-center justify-content-start"
					routerLink="/layout/projects/inactives"
					routerLinkActive="bg-custom-primary"
				>
					<mat-icon class="icon-menu"> folder_off </mat-icon>
					<span>Proyectos inactivos </span>
				</li>
				<li
					class="list-group-item d-flex align-items-center justify-content-start"
					routerLink="/layout/tasks"
					routerLinkActive="bg-custom-primary"
				>
					<mat-icon class="icon-menu">task</mat-icon>
					<span>Tareas </span>
				</li>
				<li
					class="list-group-item d-flex align-items-center justify-content-start"
					routerLink="/layout/tutors"
					routerLinkActive="bg-custom-primary"
				>
					<mat-icon class="icon-menu"
						>supervised_user_circle</mat-icon
					>
					<span>Tutore </span>
				</li>
			</ul>
		</mat-nav-list>
	</mat-sidenav>
	<!-------------- Sidebar Item List Fin -------------->

	<!-------------- Sidebar Content Inicio -------------->
	<mat-sidenav-content>
		<!-------------- Toolbar Inicio -------------->
		<nav class="p-1 navbar navbar-expand-lg bg-custom-primary">
			<div class="container-fluid d-inline-flex flex-nowrap">
				<div class="title d-flex align-items-center">
					<button
						class="m-2"
						type="button"
						aria-label="Toggle sidenav"
						mat-icon-button
						(click)="drawer.toggle()"
					>
						<mat-icon aria-label="Side nav toggle icon"
							>menu</mat-icon
						>
					</button>

					<h3 class="p-0 m-0">Servicio comunitario</h3>
				</div>

				<div class="justify-content-end">
					<div class="d-flex justify-content-end">
						<div
							class="user-button more-button"
							[matMenuTriggerFor]="menu"
							aria-label="Toggle menu"
						>
							<mat-icon>person</mat-icon>
							<span class="nav-user-name">Nombre Apellido</span>
							<mat-icon>keyboard_arrow_down</mat-icon>
						</div>
						<mat-menu #menu="matMenu" xPosition="before">
							<button mat-menu-item>
								<mat-icon>settings</mat-icon>
								<span>Perfil</span>
							</button>

							<button (click)="onLogout()" mat-menu-item >
								<mat-icon>logout</mat-icon>
								<span>Cerrar sesión</span>
							</button>
						</mat-menu>
					</div>
				</div>
			</div>
		</nav>
		<!-------------- Toolbar Fin -------------->

		<!-- Aqui se muestra el contenido correspondiente a cada item del sidebar -->
		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
	<!-------------- Sidebar Content Fin -------------->
</mat-sidenav-container>
<!-------------- Sidebar Container Fin -------------->
