.sidenav-container {
	height: 100%;
}

.sidenav {
	max-width: 50%;
	//width: 250px;
}

.mat-nav-list {
	padding-top: .2rem;
	;
}

.sidenav .mat-toolbar {
	background: inherit;
}

.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
}

.logo_img {
	height: 60px;
}

.logo {
	display: flex;
	justify-content: center;
}

.nav-menu {
	ul {

		&,
		li {
			padding: 0;
			margin: 0px;
			list-style: none;
		}

		li {
			a {
				display: flex;
				align-items: center;
				padding-left: 20px;
				padding-right: 30px;
				padding-top: 10px;
				padding-bottom: 10px;
				color: #8b8b8b;
				position: relative;
				transition: .3s padding-left ease;

				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					width: 0px;
					background-color: #0092d0;
					opacity: 0;
					visibility: hidden;
					transition: .3s opacity ease, .3s visibility ease, .3s width ease;
				}

				&:active,
				&:focus,
				&:hover {
					outline: none;
				}

				&:hover {
					background: lighten(#efefef, 5%);
					color: #000;

					&:before {
						width: 4px;
						opacity: 1;
						visibility: visible;
					}
				}
			}

			&.active {
				a {
					background: lighten(#efefef, 5%);
					color: #000;

					&:before {
						opacity: 1;
						visibility: visible;
						width: 4px;
					}
				}
			}
		}
	}
}


.icon-menu {
	margin-right: 5px;
}
