// Estilos para el sidebar
.sidenav-container {
	height: 100%;
}

.sidenav {
	max-width: 50%;
	background-color: #0494d2;
	color: white;
}

.sidebar-item {
	padding: .8rem;
}

.active {
	background-color: #026996;
	color: #ffffff;
}

ul {
	li {
		cursor: pointer;
		border-bottom: 1px solid rgba(255, 255, 255, .4);

		&:active,
		&:focus,
		&:hover {
			outline: none;
		}

		&:hover {
			background-color: #026996;
			color: #ffffff;
		}
	}
}

.icon-menu {
	margin-right: 5px;
}

.sidenav .mat-toolbar {
	background: inherit;
}

// Estilos par el toolbar
.logo {
	width: 2rem;
	height: 2rem;
}

.navbar {
	border-left: 1pt solid #ffffff74;
}

.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
}

.title {
	min-width: 60%;
}

.user-button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 10px;
}

.nav-user-name {
	padding-left: 5px;
	text-align: center;
}

.user-button:hover {
	cursor: pointer;
	background-color: #ffffff25;
}
