<!-- Filtro de busqueda Inicio -->
<mat-form-field class="mt-2 mb-2 w-25" appearance="standard">
	<mat-label>Filtro</mat-label>
	<input
		matInput
		(keyup)="applyFilter($event)"
		placeholder="Buscar..."
		#input
	/>
</mat-form-field>
<!-- Filtro de busqueda Fin -->

<div class="row">
	<div
		class="col-md-4 mb-3"
		*ngFor="let project of projects | paginate: pageSize:pageNumber | filter:filterProject "
	>
		<mat-card>
			<mat-card-title class="mt-2"
				><span>{{ project.name }}</span></mat-card-title
			>
			<mat-card-content class="pt-3">
				<p>{{ project.description | slice: 0:50 }}</p>
			</mat-card-content>
			<mat-divider inset></mat-divider>
			<mat-card-actions>
				<ng-container *ngIf="isActive">
					<p>{{ project.student_count }} Estudiantes inscritos</p>
				</ng-container>
				<p>
					Fecha de inicio:
					{{ project.date_start | date: "dd-MM-yyyy" }}
				</p>
			</mat-card-actions>
		</mat-card>
	</div>
</div>

<mat-paginator
	[length]="projects.length"
	[pageSize]="pageSize"
	[pageSizeOptions]="pageSizeOptions"
	(page)="handlePage($event)"
	showFirstLastButtons
	aria-label="Select page"
>
</mat-paginator>
