<div class="container pb-5 pt-3">
	<div class="row">
		<div class="col-md-6 mb-3" *ngFor="let project of projects">
			<mat-card>
				<mat-card-title class="mt-2"><span>{{project.name}}</span></mat-card-title>
				<mat-card-content class="pt-3">
					<p> {{project.description}} </p>
				</mat-card-content>
				<mat-divider inset></mat-divider>
				<mat-card-actions>
					<p>{{project.student_count}} Estudiantes inscritos</p>
					<p>Fecha de inicio: {{project.date_start}}</p>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
