<form class="d-flex flex-column w-100" [formGroup]="form" (submit)="onSend()">
	<h3 class="mb-4 text-dark font-weight-bold text-center">Recuperaci&oacute;n de contraseña</h3>

	<p class="text-dark font-weight-bold text-center">Por favor ingrese su direcci&oacute;n de correo
		electr&oacute;nico para restablecer su
		contraseña</p>

	<!-------------- Email input Inicio -------------->
	<mat-form-field class="text-dark mb-4">
		<mat-label>
			<mat-icon matPrefix>email</mat-icon>
			Correo Electr&oacute;nico
		</mat-label>
		<input type="email" matInput formControlName="email" placeholder="Ingrese su correo">
		<mat-error *ngIf="isNotValid('email')">
			Este campo es <strong>obligatorio</strong>
		</mat-error>
	</mat-form-field>
	<!-------------- Email input Fin -------------->

	<button class="mt-2 btn btn-primary" type="submit">Enviar correo de recuperaci&oacute;n</button>

	<hr class="mt-4 text-black">
	<div class="d-flex flex-column justify-content-center align-items-center">
		<span class="text-dark mb-2">
			¿Desea iniciar sesi&oacute;n?
		</span>

		<a routerLink="/auth/login" style="font-weight: bold;">
			Iniciar sesi&oacute;n
		</a>
	</div>
</form>
