<form class="d-flex flex-column w-100">
	<h3 class="mb-4 text-dark font-weight-bold text-center">Recuperaci&oacute;n de contraseña</h3>

	<div class="form-group mb-4">
		<p class="text-dark font-weight-bold text-center">Por favor ingrese su direcci&oacute;n de correo
			electr&oacute;nico para restablecer su
			contraseña</p>
		<input type="email" id="email" class="form-control" placeholder="Ingrese su correo" />
	</div>

	<button class="mt-2 btn btn-primary" type="submit">Enviar correo de recuperaci&oacute;n</button>

	<hr class="mt-4 text-black">
	<div class="d-flex flex-column justify-content-center align-items-center">
		<span class="text-dark mb-2">
			¿Desea iniciar sesi&oacute;n?
		</span>

		<a routerLink="/auth/login" style="font-weight: bold;">
			Iniciar sesi&oacute;n
		</a>
	</div>
</form>
