<span class="p-2">Tutores</span>
<mat-divider class="mt-3"></mat-divider>

<div class="mt-4">
	<ng-container *ngIf="isCoordinator">
		<div class="mb-2 d-flex justify-content-end">
			<button
				type="button"
				class="btn btn-outline-primary"
				(click)="goToNewTutor()"
			>
				Nuevo
			</button>
		</div>
	</ng-container>

	<h2 class="text-center mb-0">Listado de tutores</h2>

	<!-- Proyectos y estudiantes Inicio -->
	<ng-container *ngIf="allTutors.length > 0">
		<app-dynamic-table
			[data]="allTutors"
			[headers]="tutorHheaders"
			[filter]="true"
			[isUser]="true"
			[select]="false"
			[edit]="isCoordinator"
			(editRow)="onEditTutor($event)"
		>
		</app-dynamic-table>
	</ng-container>


</div>
